<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="~/Purple/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet"
          href="~/Purple/assets/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Purple/assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Purple/assets/images/favicon.ico" />
</head>
<body>
    @RenderBody()
    <!-- plugins:js -->
    <script src="~/Purple/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Purple/assets/js/off-canvas.js"></script>
    <script src="~/Purple/assets/js/hoverable-collapse.js"></script>
    <script src="~/Purple/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>