@model ClientOvertime.ViewModels.Payslips.PayslipVMGet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PayslipVMGet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                <label asp-for="Guid" class="control-label"></label>
                <input asp-for="Guid" class="form-control" />
                <span asp-validation-for="Guid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Allowace" class="control-label"></label>
                <input asp-for="Allowace" class="form-control" />
                <span asp-validation-for="Allowace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeGuid" class="control-label"></label>
                <input asp-for="EmployeeGuid" class="form-control" />
                <span asp-validation-for="EmployeeGuid" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
