@model ClientOvertime.ViewModels.Accounts.AccountVMChangePassword;
@{
    Layout = "_LayoutLogin";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo text-center">
                            <img src="~/Purple/assets/images/logo.png" />
                        </div>
                        <h4>Hello Again!</h4>
                        <h6 class="font-weight-light">Change your password to continue login.</h6>
                        <form class="pt-3" action="~/Account/ChangePassword" method="POST">
                            <div class="form-group">
                                <input type="email"
                                       class="form-control form-control-lg"
                                       id="exampleInputEmail1"
                                       placeholder="Email"
                                       asp-for="Email"
                                       required />
                                <span class="text-danger" id="emailWarning" style="display: none;">Please enter your email.</span>
                            </div>
                            <div class="form-group">
                                <input type="number"
                                       class="form-control form-control-lg"
                                       id="exampleInputOtp1"
                                       placeholder="OTP"
                                       asp-for="Otp"
                                       required />
                                <span class="text-danger" id="otpWarning" style="display: none;">Please enter your otp.</span>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-control-lg"
                                       id="exampleInputPassword1"
                                       placeholder="NewPassword"
                                       asp-for="NewPassword"
                                       required />
                                <span class="text-danger" id="passwordWarning" style="display: none;">Please enter your new password.</span>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control form-control-lg"
                                       id="exampleInputPassword1"
                                       placeholder="ConfirmPassword"
                                       asp-for="ConfirmPassword"
                                       required />
                                <span class="text-danger" id="passwordWarning" style="display: none;">Please confirm your new password.</span>
                            </div>

                            <div class="mt-3">
                                <button class="btn btn-info btn-rounded w-100" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script>
    function validateForm() {
        var email = document.getElementById('exampleInputEmail1').value;
        var otp = document.getElementById('exampleInputOtp1').value;
        var password = document.getElementById('exampleInputPassword1').value;
        var emailWarning = document.getElementById('emailWarning');
        var otpWarning = document.getElementById('otpWarning');
        var passwordWarning = document.getElementById('passwordWarning');

        if (email === '') {
            emailWarning.style.display = 'block';
            return false;
        } else {
            emailWarning.style.display = 'none';
        }

        if (otp === '') {
            otpWarning.style.display = 'block';
            return false;
        } else {
            otpWarning.style.display = 'none';
        }

        if (password === '') {
            passwordWarning.style.display = 'block';
            return false;
        } else {
            passwordWarning.style.display = 'none';
        }

        return true;
    }
</script>