@model ClientOvertime.ViewModels.Accounts.AccountVMForgotPassword;
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutLogin";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo text-center">
                            <img src="~/Purple/assets/images/logo.png" />
                        </div>
                        <h4>Hello!</h4>
                        <h6 class="font-weight-light">Enter your email to get an otp.</h6>
                        <form class="pt-3" href="/Account/ForgotPassword" method="POST">
                            <div class="form-group">
                                <input type="email"
                                       class="form-control form-control-lg"
                                       id="exampleInputEmail1"
                                       placeholder="Email"
                                       asp-for="Email"
                                       required />
                                <span class="text-danger" id="emailWarning" style="display: none;">Please enter your email.</span>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-info btn-rounded w-100" type="submit">Submit</button>
                            </div>
                            <div class="my-2 text-center">
                                <a href="/Account/ChangePassword" class="auth-link text-black"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script>
    function validateForm() {
        var email = document.getElementById('exampleInputEmail1').value;
        var emailWarning = document.getElementById('emailWarning');

        if (email === '') {
            emailWarning.style.display = 'block';
            return false;
        } else {
            emailWarning.style.display = 'none';
        }

        if (password === '') {
            passwordWarning.style.display = 'block';
            return false;
        } else {
            passwordWarning.style.display = 'none';
        }

        return true;
    }
</script>
